<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723862345529-cd2dpvllpbk04n2ohu91f4gqheg32bj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723862345529-cd2dpvllpbk04n2ohu91f4gqheg32bj0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723862345529-r4hl06rkm0ssps3ggbuirc8nkqjndd0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCV8ryIVBcr1o4S3OZRPVBvrcKPzIibGiE</string>
	<key>GCM_SENDER_ID</key>
	<string>723862345529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.placementNotifier</string>
	<key>PROJECT_ID</key>
	<string>placement-notifier-dcaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>placement-notifier-dcaaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723862345529:ios:4c522d52f01b1d80163ae8</string>
</dict>
</plist>